<nav>
    <div class="navbar">
        <a href="/api">
            <img src="/images/logo.png" alt="Logo" class="logo">
        </a>
        <ul>
            <li>
                <a href="/api">
                    <img src="/icons/home.svg" alt="Inicio Icon">
                    Inicio
                </a>
            </li>
            <li>
                <a href="/api/heroes">
                    <img src="/icons/dashboard.svg" alt="Inicio Icon">
                    Dashboard
                </a>
            </li>
            <li>
                <a href="/api/heroes/nuevo">
                    <img src="/icons/superhero.svg" alt="Agregar Superhéroe Icon">
                    Agregar Superhéroe
                </a>
            </li>
            <li>
                <a href="/api/contacto">
                    <img src="/icons/contact.svg" alt="Contacto de Icon">
                    Contacto
                </a>
            </li>
        </ul>
    </div>
</nav>